LOCAL_GTILAB_URL='http://local.gitlab.com'
LOCAL_GITLAB_TOKEN='your_local_gitlab_token'
LOCAL_GITLAB_GROUP='local_existing_group_to_be_synced'
REMOTE_GTILAB_URL='http://remote.gitlab.com'
REMOTE_GTILAB_TOKEN='your_remote_gitlab_token'
REMOTE_GTILAB_GROUP='remote_existing_group'
REMOTE_GTILAB_PUSH_URL='ssh://git@remote.gitlab.com:ssh_port'
